html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 0;
  min-width: 23%;
  min-height: 200px;
  background-color: #ccc;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  text-align: center;
  font-size: 40px;
}

.card_active {
  background-color: khaki;
}

.cards_open {
  background-color: #abebc9;
}

.pointer {
  pointer-events: none;
}

.visible_none {
  font-size: 0;
}

.open_animation {
  animation-duration: 0.3s;
  animation-name: open_one;
}

@keyframes open_one {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(0);
  }
}
