:root {
  --size-card: 600px;
}

html {
  box-sizing: border-box;
  background-color: #f1f1f1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 20px;
}

.form {
  margin: 15% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin-bottom: 15px;
  font-size: 30px;
}

.error {
  color: red;
  font-size: 20px;
}

.error_visible {
  display: block;
}

.error_no_visible {
  display: none;
}

.button {
  font-size: 40px;
  padding: 10px 15px;
  border-radius: 20px;
  border: 2px solid rgb(129, 129, 129);
}

.restart {
  font-size: 30px;
  padding: 10px 15px;
  border-radius: 20px;
  border: 2px solid rgb(129, 129, 129);
}

button:hover {
  background-color: #abebc9;
  color: #fa8072;
  border-color: #fa8072;
}

button:active {
  background-color: #739e87;
}

.label_start {
  font-size: 40px;
  margin-bottom: 10px;
}

.label_end {
  font-size: 60px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-width: var(--size-card);
  min-height: var(--size-card);
  background-color: #ccc;
  margin-right: calc(var(--size-card) / 20);
  margin-bottom: calc(var(--size-card) / 20);
  border-radius: 15px;
  text-align: center;
  font-size: calc(var(--size-card) * 0.8);
  cursor: pointer;
}

.card_active {
  background-color: khaki;
}

.cards_open {
  background-color: #abebc9;
}

.game-over {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 15% auto;
  color: #fa8072;
  font-size: 100px;
}

.game-win {
  color: #fa8072;
  font-size: 60px;
  margin: 0;
  margin-right: 100px;
}

.time-group {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  /* margin-top: 20px; */
}

.statis {
  font-size: 50px;
  color: rgb(129, 129, 129);
  margin-bottom: 30px;
}

.pointer {
  pointer-events: none;
}

.visible_none {
  font-size: 0;
}

.open_animation {
  animation-duration: 0.3s;
  animation-name: open_one;
}

@keyframes open_one {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(0);
  }
}
